/* Estilos para o body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #010409;
}

/* Estilos para a barra de navegação */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #0d1117;
    padding: 10px 0;
    z-index: 1000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

li {
    display: inline;
    margin-right: 0;
}

a, #repo-info {
    color: #e6edf3;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #161b22;
}

/* Estilos para o conteúdo */
.container {
    text-align: center;
    background: #161b22;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    margin: 70px auto;
}

h1 {
    margin-bottom: 20px;
}

#logo {
    max-width: 300px;
}

form {
    margin-bottom: 20px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    box-sizing: border-box;
}

.upload {
    font-size: unset;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #161b22;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.switch {
    font-size: unset;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #161b22;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 200px ;
}

.upload:hover {
    font-size: unset;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #161b22;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#icone-github {
    color: white;
}

i {
    font-style: normal; /* Remove o estilo itálico */
}

#file-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
    scroll-behavior: auto;
    transition: opacity 0.5s ease-out;
}

#file-list div {
    width: 100px;
    height: 100px;
    background-color: gray;
}

#file-list a {
    background-color: #0d1117;
    border-radius: 4px;
    color: #e6edf3;
    margin: 1%;
    text-decoration: none;
}

#file-list a:hover {
    background-color: #161b22;
}

.transitioning {
    opacity: 0.2;
}

#upload-form {
    margin-top: 20px;
}

#upload-form input[type="file"] {
    margin-bottom: 10px;
}

#icone-dark-mode {
    color: white;
    position: absolute;
    right: 1%; /* ajuste conforme necessário */
    top: 50%; /* alinha verticalmente ao centro */
    transform: translateY(-50%); /* corrige a alinhamento vertical */
}

.light-mode {
    background-color: #fff; /* Cor de fundo do site */
    color: #333; /* Cor do texto */
}

.light-mode a {
    color: #333; /* Cor dos links */
}

.light-mode a:hover {
    color: #666; /* Cor dos links quando hover */
}

.light-mode .bi {
    color: #333; /* Cor dos ícones */
}

.light-mode .bi:hover {
    color: #666; /* Cor dos ícones quando hover */
}

.light-mode .container {
    background-color: #f4f4f4;
}

.light-mode #file-list a {
    background-color: #d7d7d7;
    color: #333;
}

.light-mode #file-list a:hover {
    background-color: #ececec;
}

.light-mode .upload {
    background-color: #d7d7d7;
    color: #333;
}

.light-mode .upload:hover {
    background-color: #f4f4f4;
    color: #333;
}

.light-mode #logo {
    content: url('../img/github-cloud_vectorized_dark.png'); /* Caminho da imagem para o modo claro */
}

.light-mode nav {
    background-color: #333;
}

.light-mode #home-link{
    color: white;
}

@media only screen and (max-width: 768px) {

    a, #repo-info {
        padding: 8px 16px;
    }
    
    .container {
        margin: 60px auto;
    }
    
    input {
        width: 100%;
        max-width: none;
    }
}